
.tabby-promo-snippet {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 500px;
    padding: 13px 3px;
    box-sizing: border-box;
    background: none;
    box-shadow: none !important;
    border-radius: 7px;
    color: #696969;
    font-size: 14px;
    line-height: 18px;
    font-family: "Arial", "Roboto", "Helvetica", sans-serif;
    transition: all 0.5s;
    cursor: pointer;

}