.custom-bg-url{
    background: url('/images/shop-sildebg.webp');
    width: 440px;
}

.custom-shop-slider-w{
    max-width: 1132px; padding-bottom: 124.91166077738515%; --aspect-ratio: 0.8005657708628006
}

.custom-flickity-viewport-h{
    height: 313.6px;
}

.custom-flickity-slider{
    left: 0px; transform: translateX(0%);
}

.custom-AspectRatio-style{
    max-width: 1080px;  --aspect-ratio: 1.0
}